@main("User Index") {
    <!--row-->
  <div class="row">
    <div class="col-md-12 nopad-right">
        <!--                        *** Profile ***-->
      <div class="panel panel-piluku">
        <div class="panel-body profile-body">
            <!--                        *** Profile cover ***-->
          <div class="profile-heading">
            <div class="profile-img">
              <img src="assets/images/avatar/three.png" alt="three">
            </div>
            <div class="profile-name">
									nina dobrev
            </div>
            <div class="profile-age-country">
									23 female, student <br>
              <i class="ion ion-ios-location"></i> Fremont, San Francisco
								</div>
            <div class="profile-heading-footer">
              <div class="col-md-5 col-md-offset-1  col-xs-12">
                <ul class="list-inline list-unstyled profile-stats">
                  <li><a href="#"><span>216</span>followers</a></li>
                  <li><a href="#"><span>689</span>following</a></li>
                  <li><a href="#"><span>5000</span>posts</a></li>
                </ul>
              </div>
              <div class="col-md-5">
                <div class="profile-buttons">
                  <a href="#" class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft btn-profile">
                    <i class="ion ion-ios-personadd"></i>
                    <span>Add Friend</span>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-primary btn-icon-block btn-icon-blockleft btn-profile">
                    <i class="ion ion-ios-email"></i>
                    <span>Write Message</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
            <!--                        *** /Profile cover ***-->
          <div class="row">
              <!--                        *** Profile left ***-->
            <div class="profile-left">
              <div class="col-md-7 col-md-offset-1">
                <div class="form-group">
                  <textarea name="" class="form-control text-area" cols="30" rows="10" placeholder="Share Your Mood Here..."></textarea>
                </div>
                <ul class="list-unstyled list-inline profile-type">
                  <li><i class="ti-text"></i></li>
                  <li><i class="ion ion-image"></i></li>
                  <li><i class="ion ion-ios-film"></i></li>
                  <li><i class="ion ion-ios-location"></i></li>
                  <li class="pull-right"><a href="#" class="btn btn-primary">Share</a></li>
                </ul>
                  <!--                        *** Profile post ***-->
                <div class="piluku-post">
                    <!--                        *** Profile header ***-->
                  <div class="piluku-post-header">
                    <div class="piluku-post-img">
                      <img src="assets/images/avatar/eight.png" alt="eight">
                    </div>
                    <div class="piluku-post-time pull-right">4 hrs ago</div>
                    <div class="piluku-post-share">
                      <a href="#">paul diesel</a> shared a post
                    </div>
                    <div class="piluku-post-via">
                      <span>via</span> Mobile,New York
                    </div>
                  </div>
                    <!--                        *** /Profile header ***-->
                    <!--                        *** Profile body ***-->
                  <div class="piluku-post-body">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat ultricies ex, non pulvinar nunc convallis sit amet. Maecenas sodales elementum dolor. Quisque auctor auctor dui nec convallis. Donec dictum hendrerit odio eu eleifend. Mauris nec semper est, vel tempus turpis. Proin pellentesque rhoncus scelerisque. Ut ac convallis risus. Nulla non accumsan sem. Fusce sit amet nisi et velit dictum iaculis ut et nisl. <br> Consectetur adipiscing elit. Nulla feugiat ultricies ex, non pulvinar nunc convallis sit amet. Maecenas sodales elementum dolor. Quisque auctor auctor dui nec convallis.
											</div>
                    <!--                        *** /Profile body ***-->
                    <!--                        *** Profile footer ***-->
                  <ul class="list-unstyled list-inline piluku-post-footer">
                    <li><a href="#"><i class="ion ion-ios-star-outline"></i> 1.5k</a></li>
                    <li><a href="#"><i class="ion ion-reply"></i> reply </a></li>
                    <li><a href="#"><i class="ion ion-share"></i> share </a></li>
                  </ul>
                    <!--                        *** /Profile footer ***-->
                </div>
                  <!--                        *** /Profile post ***-->
                  <!--                        *** Profile post ***-->
                <div class="piluku-post">
                    <!--                        *** Profile header ***-->
                  <div class="piluku-post-header">
                    <div class="piluku-post-img">
                      <img src="assets/images/avatar/eight.png" alt="eight">
                    </div>
                    <div class="piluku-post-time pull-right">4 hrs ago</div>
                    <div class="piluku-post-share">
                      <a href="#">paul diesel</a> shared a post
                    </div>
                    <div class="piluku-post-via">
                      <span>via</span> Mobile,New York
                    </div>
                  </div>
                    <!--                        *** /Profile header ***-->
                    <!--                        *** Profile body ***-->
                  <div class="piluku-post-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="piluku-post-body-img">
                          <a href="#"><img src="assets/images/post1.jpg" alt="post1"></a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="piluku-post-body-img">
                          <a href="#"><img src="assets/images/post2.jpg" alt="post2"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!--                        *** /Profile body ***-->
                    <!--                        *** Profile footer ***-->
                  <ul class="list-unstyled list-inline piluku-post-footer">
                    <li><a href="#"><i class="ion ion-ios-star-outline"></i> 1.5k</a></li>
                    <li><a href="#"><i class="ion ion-reply"></i> reply </a></li>
                    <li><a href="#"><i class="ion ion-share"></i> share </a></li>
                  </ul>
                    <!--                        *** /Profile footer ***-->
                </div>
                  <!--                        *** /Profile post ***-->
                  <!--                        *** Profile post ***-->
                <div class="piluku-post">
                    <!--                        *** Profile header ***-->
                  <div class="piluku-post-header">
                    <div class="piluku-post-img">
                      <img src="assets/images/avatar/eight.png" alt="eight">
                    </div>
                    <div class="piluku-post-time pull-right">4 hrs ago</div>
                    <div class="piluku-post-share">
                      <a href="#">paul diesel</a> shared a post
                    </div>
                    <div class="piluku-post-via">
                      <span>via</span> Web,New York
                    </div>
                  </div>
                    <!--                        *** /Profile header ***-->
                    <!--                        *** Profile body ***-->
                  <div class="piluku-post-body">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat ultricies ex, non pulvinar nunc convallis sit amet. Maecenas sodales elementum dolor. Quisque auctor auctor dui nec convallis. Donec dictum hendrerit odio eu eleifend. Mauris nec semper est, vel tempus turpis. Proin pellentesque rhoncus scelerisque. Ut ac convallis risus. Nulla non accumsan sem. Fusce sit amet nisi et velit dictum iaculis ut et nisl. <br> Consectetur adipiscing elit. Nulla feugiat ultricies ex, non pulvinar nunc convallis sit amet. Maecenas sodales elementum dolor. Quisque auctor auctor dui nec convallis.
											</div>
                    <!--                        *** /Profile body ***-->
                    <!--                        *** Profile footer ***-->
                  <ul class="list-unstyled list-inline piluku-post-footer">
                    <li><a href="#"><i class="ion ion-ios-star-outline"></i> 1.5k</a></li>
                    <li><a href="#"><i class="ion ion-reply"></i> reply </a></li>
                    <li><a href="#"><i class="ion ion-share"></i> share </a></li>
                  </ul>
                    <!--                        *** /Profile footer ***-->
                </div>
                  <!--                        *** /Profile post ***-->
              </div>
            </div>
              <!--                        *** /Profile left ***-->
              <!--                        *** Profile right ***-->
            <div class="profile-right">
              <div class="col-md-3">
                  <!--                        *** Profile sidebar ***-->
                <div class="profile-sidebar">
                  <div class="profile-sidebar-heading">
												friends
                  </div>
                    <!--                        *** Profile friends ***-->
                  <ul class="list-unstyled list-inline profile-friends-img">
                    <li><a href="#"><img src="assets/images/avatar/two.png" alt="two"></a></li>
                    <li><a href="#"><img src="assets/images/avatar/eight.png" alt="eight"></a></li>
                    <li><a href="#"><img src="assets/images/avatar/seven.png" alt="seven"></a></li>
                    <li><a href="#"><img src="assets/images/avatar/ten.png" alt="ten"></a></li>
                    <li><a href="#"><img src="assets/images/avatar/three.png" alt="three"></a></li>
                    <li><a href="#" class="hi">see more</a></li>
                  </ul>
                    <!--                        *** /Profile friends ***-->
                </div>
                  <!--                        *** /Profile sidebar ***-->
                  <!--                        *** Profile sidebar ***-->
                <div class="profile-sidebar">
                  <div class="profile-sidebar-heading">
												Personal Info
                    <a href="#"><i class="ion ion-edit"></i></a>
                  </div>
                    <!--                        *** Profile Personal ***-->
                  <ul class="list-inline list-unstyled profile-personal-info">
                    <li>date of birth <span>23-May-1990</span></li>
                    <li>member since <span>May-2011</span></li>
                    <li>gender <span>female</span></li>
                    <li>occupation <span>student</span></li>
                    <li>mobile number <span>+91 9949834568</span></li>
                    <li>email address <span>nina.com</span></li>
                  </ul>
                    <!--                        *** /Profile Personal ***-->
                </div>
                  <!--                        *** /Profile sidebar ***-->
                  <!--                        *** Profile sidebar ***-->
                <div class="profile-sidebar">
                  <div class="profile-sidebar-heading">
												Social  Links
                  </div>
                    <!--                        *** Profile Personal ***-->
                  <ul class="list-inline list-unstyled profile-social-links">
                    <li><a href="#"><i class="ion ion-social-facebook profile-fb"></i></a></li>
                    <li><a href="#"><i class="ion ion-social-twitter profile-twitter"></i></a></li>
                    <li><a href="#"><i class="ion ion-social-googleplus profile-google"></i></a></li>
                    <li><a href="#"><i class="ion ion-social-linkedin profile-linkedin"></i></a></li>
                    <li><a href="#"><i class="ion ion-social-github profile-github"></i></a></li>
                  </ul>
                    <!--                        *** /Profile Personal ***-->
                </div>
                  <!--                        *** /Profile sidebar ***-->
              </div>
            </div>
              <!--                        *** /Profile right ***-->
          </div>
        </div>
      </div>
        <!--                        *** /Profile ***-->
        <!-- /panel -->
    </div>
  </div>
}