@main("Plan Index") {
  <div class="row">
    <div class="col-md-12">
        <!--                        *** Timeline ***-->
      <div class="panel panel-piluku">
        <div class="panel-body timeline-block">
            <!--Timeline-->
          <div class="form-heading">
            Timeline Modal 1
          </div>
            <!--Timeline-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-1 col-md-offset-3">
              <div class="timeline-year">
                mar-2015
              </div>
            </div>
              <!--                                    /col md 2-->
          </div>
            <!--                                /row-->
          <div class="time-bar"></div>
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                30-Mar-2015,
                <br>Mon 11:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatBlue">
                <i class="ti-save-alt"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatBlue">
                  <div class="timeline-arrow arrow-blue"></div>
                  Dwayne Smith
                </div>
                <div class="timeline-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin neque congue fermentum ut et ligula. Nam <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae <a href="#" class="green-link">sodales</a> sem.
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                29-Mar-2015,
                <br>Sun 13:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatGreen">
                <i class="ti-wallet"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatGreen">
                  <div class="timeline-arrow arrow-green"></div>
                  Paul Walker
                </div>
                <div class="timeline-comment">
                  Commented on your post: <span>“Awesome Job”</span>
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                14-Mar-2015,
                <br>Sat 16:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatRed">
                <i class="ti-game"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatRed">
                  <div class="timeline-arrow arrow-red"></div>
                  Vin Diesel
                </div>
                <div class="timeline-comment">
                  Tag <a href="#" class="green-link">Paul Walker</a> for <a href="#">Fast and Furious 7</a> Collection.
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                03-Mar-2015,
                <br>Tue 13:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatOrange">
                <i class="ti-gift"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatOrange">
                  <div class="timeline-arrow arrow-orange"></div>
                  Paul Walker
                </div>
                <div class="timeline-comment">
                  Commented on your post: <span>“Feeling Annoying”</span>
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-1 col-md-offset-3">
              <div class="timeline-year timeline-pad">
                feb-2015
              </div>
            </div>
              <!--                                    /col md 2-->
          </div>
            <!--                                /row-->
          <div class="time-bar"></div>
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                28-Feb-2015,
                <br>Sat 11:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatBlue">
                <i class="ti-alarm-clock"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatBlue">
                  <div class="timeline-arrow arrow-blue"></div>
                  Dwayne Smith
                </div>
                <div class="timeline-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin neque congue fermentum ut et ligula. Nam <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae <a href="#">sodales</a> sem.
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                18-Feb-2015,
                <br>Wed 18:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatGreen">
                <i class="ti-basketball"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatGreen">
                  <div class="timeline-arrow arrow-green"></div>
                  Paul Walker
                </div>
                <div class="timeline-comment">
                  Commented on your post: <span>"I am Feeling Great”</span>
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                14-Feb-2015,
                <br>Sat 20:00
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatOrange">
                <i class="ti-package"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatOrange">
                  <div class="timeline-arrow arrow-orange"></div>
                  Vin Diesel
                </div>
                <div class="timeline-comment">
                  Tag <a href="#" class="green-link">Paul Walker</a> for <a href="#">Fast and Furious 7</a> Collection.
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
            <!--                               row-->
          <div class="row">
              <!--                                   col md 2-->
            <div class="col-md-2 col-md-offset-1">
              <div class="timeline-date">
                02-Feb-2015,
                <br>Mon 13:30
              </div>
            </div>
              <!--                                    /col md 2-->
              <!--                                   col md 1-->
            <div class="col-md-1">
              <div class="timeline-icon flatRed">
                <i class="ti-crown"></i>
              </div>
            </div>
              <!--                                    /col md 1-->
              <!--                                   col md 6-->
            <div class="col-md-6">
              <div class="timeline-hover">
                <div class="timeline-heading flatRed">
                  <div class="timeline-arrow arrow-red"></div>
                  Paul Walker
                </div>
                <div class="timeline-comment">
                  Commented on your post: <span>“Awesome Job”</span>
                </div>
              </div>
            </div>
              <!--                                    /col md 6-->
          </div>
            <!--                                /row-->
        </div>
      </div>
        <!--                        *** /Timeline ***-->
        <!-- /panel -->
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!--                        *** Timeline ***-->
      <div class="panel panel-piluku">
        <div class="panel-body">
            <!--Timeline-->
          <div class="form-heading">
            Timeline Modal 2
          </div>
            <!--Timeline-->
          <div class="timeline-total-pad">
            <div class="time-bar timeline-bar"></div>
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="timeline-year">
                  mar-2015
                </div>
              </div>
                <!--                                    /col md 2-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-5">
                <div class="timeline-date">
                  30-Mar-2015, Mon 11:30
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon icon-blue">
                  <i class="ti-camera"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading flatBlue">
                    <div class="timeline-arrow arrow-blue"></div>
                    Dwayne Smith
                  </div>
                  <div class="timeline-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin neque congue fermentum ut et ligula. Nam <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae <a href="#">sodales</a> sem.
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading timeline-right-heading flatGreen">
                    <div class="timeline-arrow-right arrow-green-right"></div>
                    Paul Walker
                  </div>
                  <div class="timeline-comment timeline-right-comment">
                    Commented on your post: <span>“Awesome Job”</span>
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatGreen">
                  <i class="ti-paint-bucket"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div class="timeline-date timeline-left-date">
                  29-Mar-2015, Sun 13:30
                </div>
              </div>
                <!--                                    /col md 2-->

            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-5">
                <div class="timeline-date">
                  14-Mar-2015, Sat 16:30
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatOrange">
                  <i class="ti-car"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 6-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading flatOrange">
                    <div class="timeline-arrow arrow-orange"></div>
                    Vin Diesel
                  </div>
                  <div class="timeline-comment">
                    Tag <a href="#" class="green-link">Paul Walker</a> for <a href="#">Fast and Furious 7</a> Collection.
                  </div>
                </div>
              </div>
                <!--                                    /col md 6-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading timeline-right-heading flatRed">
                    <div class="timeline-arrow-right arrow-red-right"></div>
                    Paul Walker
                  </div>
                  <div class="timeline-comment timeline-right-comment">
                    Commented on your post: <span>“Feeling Annoying”</span>
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatRed">
                  <i class="ti-settings"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div class="timeline-date timeline-left-date">
                  03-Mar-2015, Tue 13:30
                </div>
              </div>
                <!--                                    /col md 2-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-12">
                <div class="timeline-year">
                  feb-2015
                </div>
              </div>
                <!--                                    /col md 2-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-5">
                <div class="timeline-date">
                  28-Feb-2015, Sat 11:30
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatBlue">
                  <i class="ti-game"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading flatBlue">
                    <div class="timeline-arrow arrow-blue"></div>
                    Dwayne Smith
                  </div>
                  <div class="timeline-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin neque congue fermentum ut et ligula. Nam <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae <a href="#">sodales</a> sem.
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading timeline-right-heading flatGreen">
                    <div class="timeline-arrow-right arrow-green-right"></div>
                    Paul Walker
                  </div>
                  <div class="timeline-comment timeline-right-comment">
                    Commented on your post: <span>“Awesome Job”</span>
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon icon-green">
                  <i class="ti-brush-alt"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div class="timeline-date timeline-left-date">
                  18-Feb-2015, Wed 18:30
                </div>
              </div>
                <!--                                    /col md 2-->

            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 2-->
              <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-5">
                <div class="timeline-date">
                  14-Feb-2015, Sat 20:00
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatOrange">
                  <i class="ti-cup"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 6-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading flatOrange">
                    <div class="timeline-arrow arrow-orange"></div>
                    Vin Diesel
                  </div>
                  <div class="timeline-comment">
                    Tag <a href="#" class="green-link">Paul Walker</a> for <a href="#">Fast and Furious 7</a> Collection.
                  </div>
                </div>
              </div>
                <!--                                    /col md 6-->
            </div>
              <!--                                /row-->
              <!--                               row-->
            <div class="row">
                <!--                                   col md 5-->
              <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="timeline-hover">
                  <div class="timeline-heading timeline-right-heading flatRed">
                    <div class="timeline-arrow-right arrow-red-right"></div>
                    Paul Walker
                  </div>
                  <div class="timeline-comment timeline-right-comment">
                    Commented on your post: <span>“Feeling Annoying”</span>
                  </div>
                </div>
              </div>
                <!--                                    /col md 5-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="timeline-icon flatRed">
                  <i class="ti-comments-smiley"></i>
                </div>
              </div>
                <!--                                    /col md 2-->
                <!--                                   col md 2-->
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div class="timeline-date timeline-left-date">
                  02-Feb-2015, Mon 13:30
                </div>
              </div>
                <!--                                    /col md 2-->
            </div>
              <!--                                /row-->
          </div>
        </div>
      </div>
        <!--                        *** /Timeline ***-->
        <!-- /panel -->
    </div>
  </div>
}